<div class="row g-0 app-auth-wrapper">
  <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="app-auth-body mx-auto">
      <div class="app-auth-branding mb-4">
        <a class="app-logo" href="index.html">
          <%= image_tag 'inss-logo.png', class: "logo-icon me-2" %>
        </a>
      </div>
      <h2 class="auth-heading text-center mb-4">Vamos Iniciar o Cálculo?</h2>
      <div class="auth-form-container text-start mx-auto">
        <%= form_with model: @proponent, url: register_path, data: { controller: "multi-step-form" }, class: "auth-form auth-signup-form" do |f| %>
          <div data-multi-step-form-target="step" class="step-1">
            <h6 class="text-center mb-4">Dados pessoais</h6>
            <div class="mb-3">
              <%= f.text_field :name, class: "form-control #{'border border-danger-subtle' if f.object.errors[:name].present?}", placeholder: "Nome Completo" %>
              <%= f.object.errors[:name].any? ? content_tag(:div, f.object.errors[:name].join(", "), class: "text-danger") : "" %>
            </div>
            <div class="mb-3">
              <%= f.text_field :document, 
                               class: "form-control #{'border border-danger-subtle' if f.object.errors[:document].present?}", 
                               placeholder: "CPF",
                               oninput: "applyMask()" %>
              <%= f.object.errors[:document].any? ? content_tag(:div, f.object.errors[:document].join(", "), class: "text-danger") : "" %>
            </div>
            <div class="mb-3">
              <%= f.date_field :birth_date, class: "form-control #{'border border-danger-subtle' if f.object.errors[:birth_date].present?}", placeholder: "Data de Nascimento" %>
              <%= f.object.errors[:birth_date].any? ? content_tag(:div, f.object.errors[:birth_date].join(", "), class: "text-danger") : "" %>
            </div>
          </div>
          <%= f.fields_for :address do |ff| %>
            <div data-multi-step-form-target="step" class="step-2 d-none" data-controller="address">
              <h6 class="text-center mb-4">Endereço</h6>
              <div class="mb-3">
                <%= ff.text_field :zip_code, 
                        data: { address_target: "zipCode", 
                        action: "address#fetch" }, 
                        class: "form-control #{'border border-danger-subtle' if ff.object.errors[:zip_code].present?}", 
                        placeholder: "Cep" %>
                <%= ff.object.errors[:zip_code].any? ? content_tag(:div, ff.object.errors[:zip_code].join(", "), class: "text-danger") : "" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :street, 
                        data: { address_target: "street" }, 
                        class: "form-control #{'border border-danger-subtle' if ff.object.errors[:street].present?}",
                        placeholder: "Rua" %>
                <%= ff.object.errors[:street].any? ? content_tag(:div, ff.object.errors[:street].join(", "), class: "text-danger") : "" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :street_number, 
                        data: { address_target: "street_number" }, 
                        class: "form-control #{'border border-danger-subtle' if ff.object.errors[:street_number].present?}", 
                        placeholder: "Número" %>
                <%= ff.object.errors[:street_number].any? ? content_tag(:div, ff.object.errors[:street_number].join(", "), class: "text-danger") : "" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :complement, data: { address_target: "other" }, 
                        class: "form-control", 
                        placeholder: "Complemento" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :neighborhood, 
                        data: { address_target: "neighborhood" },
                        class: "form-control #{'border border-danger-subtle' if ff.object.errors[:neighborhood].present?}", 
                        placeholder: "Bairro" %>
                <%= ff.object.errors[:neighborhood].any? ? content_tag(:div, ff.object.errors[:neighborhood].join(", "), class: "text-danger") : "" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :city, 
                        data: { address_target: "city" }, 
                        class: "form-control #{'border border-danger-subtle' if ff.object.errors[:city].present?}", 
                        placeholder: "Cidade" %>
                <%= ff.object.errors[:city].any? ? content_tag(:div, ff.object.errors[:city].join(", "), class: "text-danger") : "" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :state, 
                        data: { address_target: "state" },
                        class: "form-control #{'border border-danger-subtle' if ff.object.errors[:state].present?}", 
                        placeholder: "Estado" %>
                <%= ff.object.errors[:state].any? ? content_tag(:div, ff.object.errors[:state].join(", "), class: "text-danger") : "" %>
              </div>
            </div>
          <% end %>
          <%= f.fields_for :phones do |ff| %>
            <div data-multi-step-form-target="step" class="step-3 d-none">
              <h6 class="text-center mb-4">Telefone</h6>
              <div class="mb-3">
                <%= ff.select :kind, Phone.kinds.keys, { prompt: 'Selecione um Tipo' }, class: "form-control #{'border border-danger-subtle' if ff.object.errors[:kind].present?}" %>
                <%= ff.object.errors[:kind].any? ? content_tag(:div, ff.object.errors[:kind].join(", "), class: "text-danger") : "" %>
              </div>
              <div class="mb-3">
                <%= ff.text_field :number, class: "form-control #{'border border-danger-subtle' if ff.object.errors[:number].present?}", placeholder: "(00) 0000-0000" %>
                <%= ff.object.errors[:number].any? ? content_tag(:div, ff.object.errors[:number].join(", "), class: "text-danger") : "" %>
              </div>
            </div>
          <% end %>
          <div data-multi-step-form-target="step" class="step-4 d-none">
            <h6 class="text-center mb-4">Sálario Atual</h6>
            <div data-controller="inss" class="mb-3">
              <%= f.text_field :income, 
                                  class: "form-control #{'border border-danger-subtle' if f.object.errors[:income].present?}", 
                                  placeholder: "0,00", 
                                  step: "0.01", 
                                  min: "0.01",
                                  data: { "inss-target": "incomeField", 
                                          "action": "input->inss#handleInput" } %>
              <%= f.hidden_field :inss_value, value: "", data: { "inss-target": "inssValueField" } %>
              <%= f.object.errors[:income].any? ? content_tag(:div, f.object.errors[:income].join(", "), class: "text-danger") : "" %>
            </div>
            <div id="inss_value">
              Valor do INSS: <strong>R$ 0,00</strong>
            </div>
          </div>
          <div class="text-center">
            <div class="mt-3">
              <button type="button" data-action="multi-step-form#previous" class="btn btn-secondary" data-multi-step-form-target="previous">Anterior</button>
              <button type="button" data-action="multi-step-form#next" class="btn app-btn-primary" data-multi-step-form-target="next">Próximo</button>
              <button type="submit" class="btn btn-success d-none" data-multi-step-form-target="submit">Enviar</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
    <div class="auth-background-holder">
    </div>
    <div class="auth-background-mask"></div>
    <div class="auth-background-overlay p-3 p-lg-5">
      <div class="d-flex flex-column h-100 justify-content-between">
        <div class="d-flex justify-content-center align-items-center flex-grow-1">
          <%= image_tag 'caculadora-INSS.png', class: 'img-fluid' %>
        </div>
        <div class="overlay-content p-3 p-lg-4 rounded">
          <h5 class="mb-3 overlay-title">Calcule o valor do seu Inss</h5>
          <div>
            Calcule facilmente o valor do seu INSS com base no seu salário.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function applyMask() {
    const inputField = document.getElementById('proponent_document');
    let inputValue = inputField.value;
    const cleanValue = inputValue.replace(/[^0-9]/g, "");
    if (cleanValue.length <= 11) {
      inputField.value = cleanValue.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
    } else {
      inputField.value = cleanValue.slice(0, 11).replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, "$1.$2.$3-$4");
    }
  }
</script>